<!DOCTYPE html>
<html>
    {% include '@components/head.twig' %}
    <link rel="stylesheet" href="css/login.css"/>
<body>
    <form id="loginForm">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <h3>Sign in</h3>
            <p>Sign in with your email and password</p>
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- Username -->
            <label for="email">Your Email</label>
            <input type="email" placeholder="Enter Email" name="email" required>

            <br><br>

            <!-- Password -->
            <label for="password">Your password</label>
            <input type="password" placeholder="Enter Password" name="password" required>


            <!-- Submit button -->
            <button type="submit">Login</button>

            <!-- Sign up link -->
            <p class="register">Not a member?  <a href="/register">Register here!</a></p>

        </div>

    </form>
    {% include '@components/footer.twig' %}
    <script src="/js/includes/functions.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>